{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
      {% include '_header.html' %}
      
    </head>
    <body>
        {% include '_navbar.html' %}
        {%block 'conteudo' %} {% endblock %}
        {% include '_footer.html' %}
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="{% static 'https://code.jquery.com/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>